            @font-face {
                font-family: "Saved";
                src: url("/FONTSSTYLE/Saved by Zero Rg.ttf");
            }

            @font-face {
                font-family: 'knockout';
                src: url("/FONTSSTYLE/SpecialGothicExpandedOne-Regular.ttf");
            }

            @font-face {
                font-family: 'poppins';
                src: url("/FONTSSTYLE/Poppins-Regular.ttf");
            }


            body {
                background-color: white;
                display: flex;
                justify-content: center;
                height: 100%;
                align-items: center;
            }

            .content {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: fixed;
                top: 20%;
            }

            .icon_appname {
                display: flex;
                align-items: center;
            }

            .icon {
                width: clamp(80px, 10vw, 120px);
                margin-right: 5%;
            }

            .appname {
                font-size: clamp(25px, 7vw, 70px);
                font-family: 'Saved';
                color: darkblue;
                text-shadow: 0 0 10px darkblue;
                display: flex;
                transform: scaleX(1.2);
                margin-right: 30px;
            }

            .container {
                display: flex;
                flex-direction: column;
                background-color: white;
                width: 40vh;
                height: clamp(100px, 30vw, 300px);
                align-items: center;
                border-radius: clamp(5px, 3vw, 30px);
                justify-content: center;
            }

            .form {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
                justify-content: space-around;
                margin-bottom: 2%;
                margin-top: 2%;
            }

            .container span {
                font-family: 'knockout';
                font-size: clamp(10px, 4vw, 25px);
                color: darkblue;
                display: flex;
                height: max-content;
                transform: scaleY(1.5);

            }

            .input {
                transition: all 0.5s ease;
                width: clamp(80%, 40vw, 1000px);
                height: clamp(10px, 20%, 60px);
                padding-left: 20px;
                border-radius: clamp(5px, 2vw, 15px);
                font-size: clamp(10px, 3vw, 30px);
                border: 0.2vw solid darkblue;
            }

            .input:hover {
                transition: all 0.2s ease;
                height: 23%;
                padding-left: 25px;
                border: 2px solid darkblue;
                background-color: rgb(229, 238, 255);

            }



            .btn_login {
                transition: all 0.5s ease;
                background-color: darkblue;
                color: white;
                font-family: 'knockout';
                width: clamp(10px, 35vw, 1000px);
                border-radius: clamp(10px, 1vw, 8px);
                height: clamp(30px, 20%, 60px);
                border: 0;
                font-size: clamp(5px, 5vw, 25px);
                transform: scaleY(1.2);
                margin-top: 5px;
            }

            .btn_login:hover {
                transition: all 0.1s ease-out;
                text-shadow: 0 0 10px white;
                background-color: blue;
                cursor: pointer;

            }

            .btn_login:active {
                background-color: rgb(100, 100, 200);
                transition: all 0.05s ease;
                width: clamp(300px, 60%, 1000px);
            }