                  @font-face {
                    font-family: 'knockout';
                    src: url("/FONTSSTYLE/SpecialGothicExpandedOne-Regular.ttf");
                  }

                  /*left_drawer design*/
                  body {
                    margin: 0%;
                    display: flex;
                    position: relative;
                    padding-bottom: 10px;
                  }

                  .left_drawer {
                    transition: all 0.1s ease;
                    background-color: #033880;
                    display: flex;
                    flex-direction: column;
                    width: clamp(40px, 5%, 100px);
                    height: 100vh;
                    z-index: 10;
                    position: fixed;
                  }

                  @media (max-width:768) {
                    .left_drawer {
                      width: clamp(100px, 5%, 100px);
                    }

                    .left_drawer span {
                      margin-top: 1000px;
                    }
                  }

                  .icon {
                    transition: all 0.2s ease;
                    visibility: hidden;
                    width: 0%;
                    height: 0%;
                  }

                  .left_drawer:hover,
                  .active {
                    transition: all 0.2s ease;
                    width: clamp(0px, 25%, 25%);
                    background-color: #29579a;

                    button {
                      font-size: clamp(0px, 2vw, 20px);
                      align-self: center;
                      transition: visibility 0.3s step-end;
                      visibility: visible;
                    }

                    span {
                      margin-top: 0%;
                      margin-bottom: 10px;
                      margin-top: 10px;
                      width: 100%;
                      font-size: 2.5vw;
                      justify-content: center;
                      transform: rotate(0deg);
                      text-shadow: 0 0 10px #89bef2;
                      user-select: none;
                    }

                    .icon {
                      visibility: visible;
                      width: clamp(50px, 20%, 100px);
                      height: auto;
                      display: flex;
                      transition: filter 1s ease;
                      filter: drop-shadow(1px 1px 5px white);
                    }

                    .adminuser_profile-container {
                      transition: visibility 0.3s step-end;
                      visibility: visible;
                      display: flex;
                      flex-direction: row;
                      margin-top: 100px;
                      margin-left: 3%;

                    }
                  }

                  .left_drawer span {
                    transition: all 0.3s ease;
                    color: white;
                    transform: rotate(-90deg);
                    display: flex;
                    margin-top: clamp(150px, 45vw, 300px);
                    font-family: 'knockout';
                    font-size: clamp(0px, 6vw, 40px);
                    margin-bottom: 1000vw;
                  }

                  .left_drawer button {
                    transition: all 0.2s ease;
                    display: flex;
                    justify-content: flex-start;
                    text-align: start;
                    background: none;
                    border: 0;
                    color: white;
                    margin-bottom: 5px;
                    width: 90%;
                    transition: visibility 0s step-end;
                    visibility: hidden;
                    user-select: none;
                  }


                  .left_drawer button:hover {
                    border-left: clamp(0px, 1vw, 10px) solid #89bef2;
                    transition: all 0.2s ease;
                    background-color: #4d82cf;
                    border-radius: clamp(1px, 1vw, 2.5px);
                    justify-content: center;
                    text-align: center;
                    font-size: clamp(0px, 2vw, 20px);
                    font-family: 'knockout';
                    cursor: pointer;
                  }

                  .left_drawer .adminuser_profile-container {
                    transition: all 0.5s ease;
                    display: flex;
                    font-size: clamp(0px, 2vw, 20px);
                    color: white;
                    align-items: center;
                    transition: visibility 0s step-end;
                    visibility: hidden;

                  }

                  .adminuser_profile-container .adminuser {
                    font-family: 'knockout';
                    font-size: clamp(0px, 2vw, 20px);
                    margin-left: 5px;
                    margin-bottom: 0;
                  }

                  .adminuser_profile-container .adminemail {
                    margin-top: 0;
                    font-family: 'knockout';
                    font-size: clamp(0px, 1.2vw, 15px);
                    margin-left: 5px;
                  }

                  .adminuser_profile-container .pfp {
                    margin: 0;
                    background-color: white;
                    width: clamp(10px, 7vw, 50px);
                    left: 0;
                    border-radius: 50%;
                  }

                  .adminuser_profile-container:hover {
                    border-left: clamp(0px, 1vw, 10px) solid #89bef2;
                    transition: all 0.2s ease;
                    background-color: #4d82cf;
                    border-radius: clamp(1px, 1vw, 2.5px);
                    justify-content: center;
                    text-align: center;
                    margin-right: 10px;
                    cursor: pointer;
                  }

                  /*panel pages*/

                  .page {
                    background-color: rgb(250, 250, 250);
                    position: absolute;
                    width: 95%;
                    height: auto;
                    margin: 0%;
                    top: 0%;
                    right: 0;
                    display: flex;
                    flex-direction: column;
                  }

                  .header_container {
                    box-shadow: 0 0 10px gray;
                    margin-bottom: 0%;
                    position: fixed;
                    width: 95%;
                    background-color: white;
                    z-index: 9;
                  }

                  .header_container .header1 {
                    font-family: 'knockout';
                    color: rgb(80, 80, 80);
                    padding-left: 5%;
                    font-size: clamp(100%, 5vw, 50px);
                    margin-left: 10px;
                  }

                  .page-body {
                    margin-top: clamp(10px, 8vw, 100px);
                    z-index: 1;
                  }

                  /*drawer active*/
                  .drawer-active {
                    transition: all 0.2s ease;
                    width: clamp(0px, 20%, 20%);
                    background-color: #29579a;

                    button {
                      font-size: clamp(0px, 2vw, 20px);
                      align-self: center;
                      visibility: visible;
                    }

                    span {
                      margin-top: 0%;
                      margin-bottom: 10px;
                      margin-top: 10px;
                      width: 100%;
                      font-size: 2.5vw;
                      justify-content: center;
                      transform: rotate(0deg);
                      text-shadow: 0 0 10px #89bef2;
                    }

                    .icon {
                      visibility: visible;
                      width: clamp(50px, 20%, 100px);
                      height: auto;
                      display: flex;
                    }
                  }